/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* height: 100vh; */
    margin: 0;
}

/* Login container */
.login-container {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 320px;
    margin: auto;
    margin-top: 100px;
}

/* Heading */
.login-heading {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1rem;
}

/* Form styling */
.login-form {
    display: flex;
    flex-direction: column;
}

/* Input fields */
.login-input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
}

/* Input focus effect */
.login-input:focus {
    border-color: #000;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Login button */
.login-button {
    background-color: #000;
    color: #fff;
    padding: 12px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.3s ease;
}

/* Button hover effect */
.login-button:hover {
    background-color: #333;
}

/* Signup text */
.login-footer-text {
    margin-top: 15px;
    font-size: 0.9rem;
    color: #555;
}

/* Signup button */
.signup-link {
    background: none;
    border: none;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: underline;
}

/* Signup button hover effect */
.signup-link:hover {
    color: #333;
}

.google-login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #ffffff;
    color: #444;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .google-login-button:hover {
    background-color: #f7f7f7;
  }
  
  .google-login-button img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  